<tr>
  <td colspan="4">
    <div class="flash warning">
      <h1>We've Moved!</h1>
      <p>Ticket tracking is now hosted in JIRA: <a href="<%= RedmineJiraExporter.settings[:jira_baseurl] %>"><%= RedmineJiraExporter.settings[:jira_baseurl] %></a></p>
      <% if @issue.jira_url? %>
      <p>This ticket is now tracked at: <a href="<%= @issue.jira_url %>"><%= @issue.jira_url %></a></p>
      <% elsif jira_export_available %>
      <p>Interested in this issue? <%= link_to("Click here to export this ticket to JIRA.", { :controller => 'issues', :action => 'export_to_jira',   :id => @issue }, :method => 'post') %></p>
      <% else %>
      <p>This issue is currently not available for export. If you are experiencing the issue described below, please file a new ticket in JIRA. Once a new ticket has been created, please add a link to it that points back to this Redmine ticket.</p>
      <% end %>
    </div>
  </td>
</tr>
